<div style="padding: 20px;overflow: auto;">
    <div fxLayout="column" fxLayoutAlign="start start" style="overflow: auto;">
        <div class="commonDiv" fxLayout="row" fxLayoutAlign="start start">
            <mat-icon>call</mat-icon>
            <p>8983012852</p>
        </div>
        <div class="commonDiv" fxLayout="row" fxLayoutAlign="start start">
            <mat-icon>mail</mat-icon>
            <p>l.shubham9237@gmail.com</p>
        </div>
        <div class="commonDiv" fxLayout="row" fxLayoutAlign="start start">
            <mat-icon>location_on</mat-icon>
            <p>Hadapsar, keshav nagar mhasoba nagar pune 411036</p>
        </div>
        <div class="commonDiv" fxLayout="row" fxLayoutAlign="start start">
            <mat-icon>language</mat-icon>
            <p>www.virtualbuisnesscard.com</p>
        </div>
    </div>
</div>
