.custom-toolbar {
    height: 56px;
    width: 100%;
    background-color: #3f51b5;
}

i {
    margin-top: -2px !important
}

.fa-facebook {
    color: #1677f2;
}

button {
    background-color: #fff !important;
}

.fa-telegram {
    color: #25a2e0;
}

.fa-youtube {
    color: red;
}

.fa-instagram {
    color: black;
}