.custom-toolbar {
  height: 45px;
  width: 100%;
  background-color: #141414;
}

i {
  margin-top: -2px !important;
}

.fa-facebook,
.fa-telegram-plane,
.fa-youtube,
.fa-instagram {
  color: #4cb493;
}
