.example-spacer {
    flex: 1 1 auto;
}

.custom-toolbar {
    height: 56px;
    width: 100%;
    background-color: #3f51b5;
}

mat-icon {
    color: #fff;
}

span {
    color: #fff;
    font-size: 15px;
}